In [1]:
from getData import *
from mysqlDB import *

In [2]:
a = sqlDB("localhost","root","","cars")
a.closeDB()

In [11]:
links = "https://www.cardekho.com/overview/Maruti_Swift/Maruti_Swift_LXI_2018.htm"
def Import_DB(link):
    print(link)
    a = sqlDB("localhost","root","","cars")

    flag = 0
    car_name = ["Name","price"]
    name,left,right = get_data(link)

    [car_name.append(x) for x in left]
    [name.append(x) for x in right]
    print(car_name)
    print(name)
    for attr,val in zip(car_name,name):
        sql = "desc car_details"
        data = a.retrive_sql(sql)
        x = [i[0] for i in data]
        flag = 0
        val = val.replace("@","_").replace("'","").replace("/n","")
        attr = attr.replace("(","_").replace(")","_").replace("'","").replace(" ","_").replace(".","").replace("-","_").replace("/","_or_").replace("&","and")

        for db_attr in x:
#             print(db_attr)
            if attr == db_attr :
                flag = 1
                break
            else:
                flag = 0
        print(flag)
        if flag == 0:
            create_table = "ALTER TABLE car_details ADD COLUMN %s VARCHAR(100) DEFAULT NULL"%(attr)
            a.execute_single(create_table)

        else:
            pass
        update_table = "UPDATE car_details set %s = '%s' where links='%s'"%(attr,val,link)
        a.execute_single(update_table)

Import_DB(links)

https://www.cardekho.com/overview/Maruti_Swift/Maruti_Swift_LXI_2018.htm

UnboundLocalError: local variable 'x' referenced before assignment