In [10]:
import mysql.connector

In [21]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="cars"
)
mycursor = mydb.cursor()

mycursor.execute("desc car_details")
colname = [column[0] for column in mycursor.fetchall()]
print(colname)
mydb.commit()

print(mycursor.rowcount, "record inserted.")

['id', 'Name', 'price', 'Milage', 'cityMilage', 'fuelType', 'engine_cc', 'maxPower', 'maxTorque', 'seats', 'engineDiscription', 'TransmissionType', 'cargoVolume', 'links']
14 record inserted.

In [16]:
class sqlDB:
    def __init__(self,host,user,passwd,database):
        self.host = host
        self.user = user
        self.passwd = passwd
        self.database = database
        self.mydb = mysql.connector.connect(
          host= self.host,
          user=self.user,
          passwd=self.passwd,
          database=self.database
        )
        self.mycursor = mydb.cursor()
    
    def execute(self,sql,val):
        self.mycursor.execute(sql,val)
        self.mydb.commit()
        print(self.mycursor.rowcount,"record inserted.")

In [17]:
a = sqlDB("localhost","root","","foodee")
sql = "INSERT INTO user (username, email,phno,datentime,selection,feedback) VALUES (%s, %s,%s,%s,%s,%s)"
val = ['1197', '81.80bhp@6000rpm', '113Nm@4200rpm',"2001-02-03","wedding","thanks!!"]
a.execute(sql,val)

1 record inserted.